{{ form_start(form, {
    'enctype': 'multipart/form-data'
}) }}
<div class="card-body row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.name, 'admin.form.user.name'|trans) }}
                    {{ form_widget(form.name, {
                        'attr': {
                            'class': 'form-control text-input'
                        }
                    }) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.surname, 'admin.form.user.surname'|trans) }}
                    {{ form_widget(form.surname, {
                        'attr': {
                            'class': 'form-control text-input'
                        }
                    }) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.email, 'admin.form.user.email'|trans) }}
                    {{ form_widget(form.email, {
                        'attr': {
                            'class': 'form-control email-input'
                        }
                    }) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.password, 'admin.form.user.password'|trans) }}
                    {{ form_widget(form.password, {
                        'attr': {
                            'class': 'form-control password-input'
                        }
                    }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        {% if is_admin(app.user) %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_label(form.positions, 'admin.form.user.position.plural'|trans) }}
                        {{ form_widget(form.positions, {
                            'id': 'select2',
                            'attr': {
                                'class': 'form-control form-select select2-enable',
                            }
                        }) }}
                    </div>
                </div>
            </div>
        {% endif %}
        {% for link in form.links %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {% set typeTranslation = 'admin.form.user.' ~ link.vars.data.type.value %}
                        {{ form_label(link.url, typeTranslation|trans) }}
                        {{ form_widget(link.url, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.cvFilename, 'admin.form.user.cv'|trans) }}
                    {{ form_widget(form.cvFilename, {
                        'attr': {
                            'class': 'form-control',
                            'name': 'cvFilename',
                        }
                    }) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <a class="btn btn-danger" href="{{ path('dev_meeting_index') }}">{{ 'admin.form.cancel'|trans }}</a>
    {{ form_widget(form.submit, {
        'label': 'admin.form.save'|trans,
        'id': 'submit-form-button',
        'attr': {
            'class': 'btn btn-success'
        },
    }) }}
</div>
{{ form_end(form) }}
