{% if users|filter(user => user.member and user.member.avatarHash and user.name)|length > 0 %}
<div class="card-element carusel-dark" id="team" data-box="team">
    {% set count = 0 %}
    <div class="glide carusel">
        <div class="glide__track carusel" data-glide-el="track">
            <ul class="glide__slides carusel">
            {% for user in users %}
                {% if user.member and user.member.avatarHash and user.name %}
                    <li class="glide__slide carusel-element team-item">
                        {% set avatarUrl = "build/trello/avatar/" ~ user.member.avatarHash ~ ".png" %}
                            <img class="carusel-img team-image" src='{{asset(avatarUrl) }}' alt="member avatar"/>
                            <h4>{{ user.name }} {{ user.surname }}</h4>
                            <p class="team-title">Member</p>
                            <p class="team-social">
                                {% for link in user.links %}
                                    {% if link.type.value == 'website' %}
                                        <a href="{{ link.url }}"><i class="fa-solid fa-globe"></i></a>
                                    {% else %}
                                        <a href="{{ link.url }}"><i class="fab fa-{{ link.type.value }}"></i></a>
                                    {% endif %}
                                {% endfor %}
                                {% if user.email %}
                                    <a href="mailto:{{user.email}}"><i class="fa-regular fa-envelope"></i></a>
                                {% endif %}
                            </p>
                    </li>
                    {% set count = count + 1 %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <span id="team-count" data-count="{{count}}">
        {{ include('website/carousel/controls/_controls.html.twig')}}
    </div>
</div>
{% endif %}
