{% extends '/admin/base.html.twig' %}

{% set header = 'Meetings' %}

{% block body %}
    <div class="page">
        <div class="page-header d-flex align-items-center justify-content-between">
            <h1><i class="fa fa-calendar-alt"></i><span class="text-header">{{ header }}</span></h1>

            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="{{ path('dev_admin') }}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ header }}</li>
            </ol>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>{{ header }}</h4>
                <div class="card-header-buttons">
                    <a class="btn btn-success" href="{{ path('dev_meeting_new') }}">Add new Meeting</a>
                </div>
            </div>
            <div class="card-body">
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
                Content goes here <br>
            </div>
            <div class="card-footer"><button class="btn btn-warning">some button</button></div>
        </div>
    </div>
{% endblock %}
