{% extends '/admin/base.html.twig' %}

{% set header = 'admin.meeting.header.plural'|trans %}

{% block body %}
    <div class="page">
        <div class="page-header d-flex align-items-center justify-content-between">
            <h1><i class="fa fa-calendar-alt"></i><span class="text-header">{{ header }}</span></h1>

            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="{{ path('dev_admin') }}">{{ 'admin.sidebar.link.dashboard'|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ header }}</li>
            </ol>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>{{ header }}</h4>
                <div class="card-header-buttons">
                    <a class="btn btn-success" href="{{ path('dev_meeting_new') }}">{{ 'admin.meeting.add_new_meeting'|trans }}</a>
                </div>
            </div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
    </div>
{% endblock %}
