{% extends "website/base.html.twig" %}

{% block body %}
    <nav>
        <ul class="links">
            <li class="nav-item" data-box="home">
                <a class="nav-link" href="javascript:void(0)" data-box="home">{{'home.navbar.element.home'|trans}}</a>
            </li>
            <li class="nav-item" data-box="team">
                <a class="nav-link" href="javascript:void(0)" data-box="team">{{'home.navbar.element.team'|trans}}</a>
            </li>
            <li class="nav-item" data-box="portfolio">
                <a class="nav-link" href="javascript:void(0)" data-box="technology">{{'home.navbar.element.tech'|trans}}</a>
            </li>
            <li class="nav-item" data-box="contact">
                <a class="nav-link" href="javascript:void(0)" data-box="contact">{{'home.navbar.element.contact'|trans}}</a>
            </li>
            <li class="nav-lang">
                {% if app.locale != 'pl' %}
                    <span class="nav-lang-link">
                        <i class="fi fi-gb fis fi-lang"></i>
                    </span>
                {% endif %}
                {% if app.locale != 'en' %}
                    <span class="nav-lang-link">
                        <i class="fi fi-pl fis fi-lang"></i>
                    </span>
                {% endif %}
                <ul class="home-dropdown-menu">
                    <li>
                        <a class="nav-lang-link" href="{{ path('app_language_changer', { '_locale':'pl' }) }}">
                        <i class="fi fi-pl fis fi-lang"></i>
                        Polski
                        </a>
                    </li>
                    <li>
                        <a class="nav-lang-link" href="{{ path('app_language_changer', { '_locale':'en' }) }}">
                        <i class="fi fi-gb fis fi-lang"></i>
                        English
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}
