{% extends "base.html.twig" %}

{% block body %}
    <nav>
        <ul class="links">
            <li>
                <a class="nav-item" href="#">{{'home.navbar.element.home'|trans}}</a>
            </li>
            <li>
                <a class="nav-item" href="#">{{'home.navbar.element.logo'|trans}}</a>
            </li>
            <li>
                <a class="nav-item" href="#">{{'home.navbar.element.team'|trans}}</a>
            </li>
            <li>
                <a class="nav-item" href="#">{{'home.navbar.element.contact'|trans}}</a>
            </li>
            <li>
                <a class="nav-item" href="#">{{'home.navbar.element.portfolio'|trans}}</a>
            </li>
        </ul>
    </nav>
{% endblock %}

