{% extends "website/base.html.twig" %}

{% block body %}
    <nav>
        <ul class="links">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">{{'home.navbar.element.home'|trans}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">{{'home.navbar.element.logo'|trans}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">{{'home.navbar.element.team'|trans}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">{{'home.navbar.element.contact'|trans}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">{{'home.navbar.element.portfolio'|trans}}</a>
            </li>
            <li class="nav-lang">
                {% if app.locale != 'pl' %}
                    <span class="nav-lang-link">
                        <i class="fi fi-gb fis fi-lang"></i>
                    </span>
                {% endif %}
                {% if app.locale != 'en' %}
                    <span class="nav-lang-link">
                        <i class="fi fi-pl fis fi-lang"></i>
                    </span>
                {% endif %}
                <ul class="home-dropdown-menu">
                    <li>
                        <a class="nav-lang-link" href="{{ path('app_language_changer', { '_locale':'pl' }) }}">
                        <i class="fi fi-pl fis fi-lang"></i>
                        Polski
                        </a>
                    </li>
                    <li>
                        <a class="nav-lang-link" href="{{ path('app_language_changer', { '_locale':'en' }) }}">
                        <i class="fi fi-gb fis fi-lang"></i>
                        English
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}
