{% set currentPath = app.request.pathinfo %}

<aside class="sidebar">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li class="text-center m-0 logo-container">
                <img class="sidebar-logo" src="{{ asset('build/images/brand/logo.svg') }}" alt="user avatar" height="150" width="150">
            </li>
            <li {% if currentPath == path('dev_admin') %} class="active" {% endif %}>
                <a href="{{ path('dev_admin') }}"><span>{{ 'admin.sidebar.link.dashboard'|trans }}</span></a>
            </li>
            <li class="sub-menu {% if currentPath starts with '/sprint' %} active {% endif %}">
                <a class="sub-header" href="{{ path('dev_sprint_index') }}"><span>{{ 'admin.sprint.header.plural'|trans }}</span></a>
            </li>
            <li class="sub-menu {% if currentPath starts with '/meeting' %} active {% endif %}">
                <a class="sub-header" href="{{ path('dev_meeting_index') }}"><span>{{ 'admin.meeting.header.plural'|trans }}</span></a>
            </li>
            <li class="sub-menu">
                <a class="sub-header" href="javascript:void(0);">
                    <span>{{ 'admin.sidebar.link.reports'|trans }}</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0);"><span>Trello</span> -></a>
                <ul>
                    <li><a href="javascript:void(0);">Example#1</a></li>
                    <li><a href="javascript:void(0);">Example#2</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
