<div class="topbar">
    <div class="user-info">
        <div class="toggle-dropdown">
            <img src="{{ asset('build/images/brand/logo-C.svg') }}" alt="user avatar" height="20" width="20">
            <span class="username" id="username">{{ app.user.email }}</span>
        </div>
        <ul class="dropdown-menu">
            <li><a href="{{ path('dev_user_edit', { 'id': app.user.id }) }}">{{ 'admin.topbar.option.settings'|trans }}</a></li>
            <li><a href="{{ path('dev_logout') }}">{{ 'admin.topbar.option.logout'|trans }}</a></li>
        </ul>
    </div>
    <div class="nav-lang nav-lang-admin">
        {% if app.locale != 'pl' %}
            <span class="nav-lang-link">
                <i class="fi fi-gb fis fi-lang"></i>
            </span>
        {% endif %}
        {% if app.locale != 'en' %}
            <span class="nav-lang-link">
                <i class="fi fi-pl fis fi-lang"></i>
            </span>
        {% endif %}
        <ul class="home-dropdown-menu">
            <li>
                <a class="nav-lang-link" href="{{ path('app_language_admin_changer', { '_locale':'pl' }) }}">
                    <i class="fi fi-pl fis fi-lang"></i>
                    Polski
                </a>
            </li>
            <li>
                <a class="nav-lang-link" href="{{ path('app_language_admin_changer', { '_locale':'en' }) }}">
                    <i class="fi fi-gb fis fi-lang"></i>
                    English
                </a>
            </li>
        </ul>
    </div>
</div>
