<div class="card">
    <div class="card-header">
        {{ 'admin.from.meeting.details' }}
    </div>
    <div class="card-body mt-3">
        <div class="d-none" id="id"></div>
        <div class="d-flex gap-1"><p>{{ 'admin.form.meeting.title'|trans }}:</p> <span id="title"></span></div>
         <div class="d-flex gap-1"><p>{{ 'admin.form.meeting.status'|trans }}:</p> <span id="status"></span></div>
         <div class="d-flex gap-1"><p>{{ 'admin.form.meeting.start_date'|trans }}:</p> <span id="start_date"></span></div>
         <div class="d-flex gap-1"><p>{{ 'admin.form.meeting.end_date'|trans }}:</p> <span id="end_date"></span></div>
         <div class="d-flex gap-1"><p>{{ 'admin.form.meeting.description'|trans }}:</p> <span id="description"></span></div>
    </div>
</div>
