{% extends "website/base.html.twig" %}

{% block body %}
<span id="home" data-box="home"/>
<div id="home-layout">
    <div class="glow-nav-effect"></div>
    <div id="particles-js"></div>
    {{ include('website/navbar/index.html.twig') }}
    <div class="main-container">
        {{ include('website/header/index.html.twig') }}
        {{ include('website/about_us/index.html.twig')}}
        {{ include('website/team/index.html.twig')}}
        {{ include('website/portfolio/index.html.twig') }}
        {{ include('website/contact/index.html.twig') }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('particles-ini') }}
    {{ encore_entry_script_tags('particles') }}
    {{ encore_entry_script_tags('home/carousel') }}
{% endblock %}
