{{form_start(form)}}
    <div class="row">
        <div class="col-xl-6">
            <div class="form-group">
                {{ form_label(form.email, 'form.contact.label.email'|trans) }}
                {{ form_widget(form.email, {
                    'attr': {
                        'class': 'form-control contact-input',
                        'placeholder': 'form.contact.label.email'|trans,
                    }
                }) }}
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-group">
                {{ form_label(form.subject, 'form.contact.label.subject'|trans) }}
                {{ form_widget(form.subject, {
                    'attr': {
                        'class': 'form-control contact-input',
                        'placeholder': 'form.contact.label.subject'|trans,
                    }
                }) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.body, 'form.contact.label.body'|trans) }}
        {{ form_widget(form.body, {
            'attr': {
                'class': 'form-control contact-input',
                'placeholder': 'form.contact.label.body'|trans,
                'rows': 6,
            }
        }) }}
    </div>
    <div class="w-100">
    {{ form_widget(form.submit, {
        'label': 'form.send'|trans,
        'attr': {
            'class': 'btn-01 submit',
        }
    }) }}
    </div>
{{form_end(form)}}
