<!DOCTYPE html>
<html data-locale="{{ get_locale() }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ConiCode{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="admin-layout" class="d-flex">
            {{ include('admin/partials/sidebar.html.twig') }}
            <div class="sidebar-margin">
               {{ include('admin/partials/topbar.html.twig') }}
                <div class="content">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

{% block javascripts %}
    {{ encore_entry_script_tags('admin/sidebar') }}
    {{ encore_entry_script_tags('admin/topbar') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
