{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ form_start(form, {'method': 'GET'}) }}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {{ form_label(form.email, 'Email') }}
    {{ form_widget(form.email, {
        'attr': {
            'class': 'form-control',
            'id': 'inputEmail',
            'autocomplete': 'email',
            'required': 'required',
            'autofocus': 'autofocus'
        }})
    }}

    {{ form_label(form.password, 'Password') }}
    {{ form_widget(form.password, {
        'attr': {
            'class': 'form-control',
            'id': 'inputPassword',
            'autocomplete': 'current-password',
            'required':
            'required'
        }})
    }}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {{ form_widget(form.save, {
        'label': 'Sign in',
        'attr': {
            'class': 'btn btn-lg btn-primary',
        }})
    }}

    {{ form_end(form) }}
{% endblock %}