{% extends '/admin/base.html.twig' %}

{% set header = 'admin.sprint.header.sprint_details'|trans %}

{% block body %}
    <div class="page">
        <div class="page-header d-flex align-items-center justify-content-between">
            <h1><span class="text-header">{{ header }}</span></h1>

            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="{{ path('dev_admin') }}">{{ 'admin.sidebar.link.dashboard'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('dev_sprint_index') }}">{{ 'admin.sprint.header.plural'|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ header }}</li>
            </ol>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ header }}</h4>
                    </div>
                    <div class="card-body">
                        <table class="base-table">
                            <tr>
                                <th class="w-25">{{ 'admin.form.sprint.title'|trans }}</th>
                                <td>{{ sprint.title }}</td>
                            </tr>
                            <tr>
                                <th class="w-25">{{ 'admin.form.sprint.start_date'|trans }}</th>
                                <td>{{ sprint.startDate|date('d M Y') }}</td>
                            </tr>
                            <tr>
                                <th class="w-25">{{ 'admin.form.sprint.end_date'|trans }}</th>
                                <td>{{ sprint.endDate|date('d M Y') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {{ form_start(form) }}
                <div class="card">
                    <div class="card-header">
                        <h4>{{ 'admin.sprint.header.user_availability'|trans }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <table class="base-table">
                                {% for user in users %}
                                <tr>
                                    <th class="w-25">{{ user.name }} {{ user.surname }}</th>
                                    <td>
                                        {% set sprintUser = find_sprint_user(user, sprint) %}
                                        {% if sprintUser %}
                                            {{ calculate_sp_sum_for_sprint_user(sprintUser) }} SP
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th class="w-25">{{ 'admin.sprint.story_point_sum'|trans }}</th>
                                    <td>{{ calculate_sp_sum_for_sprint(sprint) }} SP</td>
                                </tr>
                            </table>
                        </div>
                        <hr>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.availabilityInHours, 'admin.sprint.hours_availability') }}
                                {{ form_widget(form.availabilityInHours, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            {{ form_widget(form.submit, {
                                'label': 'admin.form.save'|trans,
                                'id': 'submit-form-button',
                                'attr': {
                                    'class': 'btn btn-success'
                                },
                            }) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
