<div class="card-element carusel-dark" id="technology" data-box="technology">
    {% set count = 3 %}
    <div class="glide carusel">
        <div class="glide__track carusel" data-glide-el="track">
            <ul class="glide__slides carusel">
                <li class="glide__slide carusel-element tech-element">
                    <h1 class="tech-title">PHP</h1>
                    <ul class="tech-tag-list">
                        <li class="tech-tag backend">backend</li>
                        <li class="tech-tag language"><span>language</span></li>
                    </ul>
                    <p class="tech-description">
                    PHP (Hypertext Preprocessor) to skryptowy język programowania, który często wykorzystywany jest do tworzenia stron internetowych. PHP umożliwia dynamiczne generowanie zawartości strony na podstawie różnych czynników, takich jak dane wprowadzone przez użytkownika, informacje przechowywane w bazie danych itp.
                    </p>
                    <button class="btn-01 tech-button">Learn more</button>
                    <img src="{{asset('build/images/tech/php.png')}}" class="tech-icon"></img>
                </li>       
                <li class="glide__slide carusel-element tech-element">    
                    <h1 class="tech-title">Symfony</h1>
                    <ul class="tech-tag-list">
                        <li class="tech-tag backend">backend</li>
                        <li class="tech-tag framework"><span>framework</span></li>
                    </ul>
                    <p class="tech-description">
                        Symfony to framework aplikacji internetowych napisany w języku PHP, który zapewnia narzędzia do tworzenia skalowalnych, niezawodnych i bezpiecznych aplikacji webowych. Oferuje wysoką wydajność, skalowalność i zabezpieczenia, co sprawia, że jest popularnym wyborem dla firm potrzebujących solidnego i elastycznego narzędzia do budowy aplikacji internetowych.
                    </p>
                    <button class="btn-01 tech-button">Learn more</button>
                    <img src="{{asset('build/images/tech/s.png')}}" class="tech-icon"></img>
                </li>
                <li class="glide__slide carusel-element tech-element">
                    <h1 class="tech-title">Docker</h1>
                    <ul class="tech-tag-list">
                        <li class="tech-tag backend">backend</li>
                        <li class="tech-tag tool"><span>tool</span></li>
                    </ul>
                    <p class="tech-description">
                    Docker to platforma do tworzenia, wdrażania i uruchamiania aplikacji w kontenerach. Kontenery są lekkimi, przenośnymi jednostkami oprogramowania, które zawierają wszystko, co potrzebne do uruchomienia aplikacji, w tym kod, biblioteki systemowe, narzędzia oraz ustawienia systemowe. Za pomocą Dockera programiści mogą łatwo izolować aplikacje...                    
                    </p>
                    <button class="btn-01 tech-button">Learn more</button>
                    <img src="{{asset('build/images/tech/docker.webp')}}" class="tech-icon"></img>
            </li>
            </ul>
        </div>
        <span id="tech-count" data-count="{{count}}">
        {{ include('website/carousel/controls/_controls.html.twig')}}
    </div>
</div>
